%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {erlang_protobuffs, "0.8.1", {git, "https://github.com/cmullaparthi/erlang_protobuffs.git", {branch, "master"}}}
       ]}.

{eunit_opts, [verbose]}.

%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.
